# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
build/
pubspec.lock


# VS Code related
.vscode/
.idea/
.flutter-plugins
.flutter-plugins-dependencies
.packages.generated
.packages
.pub-cache/
.pub/
build/
flutter_*.png
linked_*.ds